.gridItem{
    background-color: #fff;
    border: 1px solid #4595BB;
    align-items: center;
    justify-content: center;
    color:#fff;
}

#grid{
    flex:1;
    margin-left: 38vw;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px); 
}

#title{
    flex:1;
    margin-left:33vw;
    color:#4595BB;
}
#result{
    margin-left: 40vw;
}
#main{
    margin-top: 10vh;
}
.players{
    width: 354px;
    margin-top:28px;
    margin-left:33vw;
    background-color: #4595bb;
    text-align:center;
}
.svg{
    margin-left:10px;
}
.result{
    width: 354px;
    margin-top:-16px;
    margin-left:33vw;
    background-color: #4595bb;
    text-align:center;
}
#rText{
    position: relative;
    top:10px;
}
#rButton{
    color:#4595bb;
    background-color: #ffffff;
    border:none;
    padding: 1em 1em;
    font-size: medium;
}
.svgs{
    width:50px;
    height: 50px;
    margin-top: 0.7em;
}
body{
    background-image: url(sw.jpg);
    background-size: cover;
}